.nav {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(193, 193, 193);
    margin-top: 0px;
    padding-top: 0.001%;
    padding-bottom: 0.001%;
    padding-left: 2%;
}

#search input[type=text]{
    background-color: #B6E7FF;
    border: none;
    border-radius: 100px;
    padding-left: 1%;
    width: 50%;
    height: 50px;
}

#search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.doc {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}


